APPLY WAVE "APPLY.WAV"
CANCEL WAVE "CANCEL.WAV"
CONNECT WAVE "CONNECT.WAV"
DONTACPT WAVE "DONTACPT.WAV"
ERROR WAVE "ERROR.WAV"
IS WAVE "IS.WAV"
ISQUIT WAVE "ISQUIT.WAV"
LOADING WAVE "LOADING.WAV"
NOWUSER WAVE "NOWUSER.WAV"
SOCKINIT WAVE "SOCKINIT.WAV"
DISCON WAVE "DISCON.WAV"
START WAVE "START.WAV"
STARTDO WAVE "STARTDO.WAV"
STOP WAVE "STOP.WAV"
TERMIN WAVE "TERMIN.WAV"

